# Ignore build & tooling files
Makefile linguist-detectable=false
*.ld linguist-detectable=false
*.map linguist-detectable=false

# Ignore build directories
target/** linguist-detectable=false
build/** linguist-detectable=false

# Explicitly count Rust & Python
*.rs linguist-detectable=true
*.py linguist-detectable=true
